.page-details-workout {
   
    padding: 80px;
}
p{
    font-weight: bold;
    text-align: center;
}

.detailsWorkout {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.detailsWorkout-container {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    position: relative;



}
.title-details-workout{
    width: 100%;
    position: fixed;
    left: 200px;
    top: 60px;
}

.detailsWorkout-container>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}

.content-details-workout {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    padding: 20px;
    color: white;
}

.details-workout-name {
    font-size: 1.5rem;
    font-weight: bold;


}

.details-workout-date {
    padding: 10px;
    background: #00FE90;
    border-radius: 30px;

}


.exercises-container-details-workout {
    width: 30%;
    background-color: rgba(128, 128, 128, 0.078);
    border-radius: 10px;
    padding: 10px;
    overflow-y:auto;
    box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.exercise-details {
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
    gap: 10px;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);


}

.content-details-workout-exercise {
    display: flex;
    gap: 20px;
    margin: 5px;
    padding: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.258);
}

.text-serie-repts {
    color: gray;
}

.span-serie-repets {
    color: black;
    font-weight: bold;
}

.p-player-exercise {
    margin: 10px;
    font-size: 1.4rem;
    padding-left: 10px;
    font-weight: bold;
}

.container-peoples {
   
}

.container-peoples-workout {
    background-color: #fbfbfb;
    padding: 20px;
    width: 30%;
    height: 600px;
    overflow-y: scroll;

    box-shadow: 1px 1px 10px rgb(214, 214, 214);

    border-radius: 10px;
}

.container-peoples-workout>p {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(58, 58, 58);
    padding-bottom: 10px;

}


  