.product_page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
}
.reservations_card{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}