.data_student{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.ajuste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.data_basic_buttons {
  display: flex;
  gap: 63px;
}

.name_student_record {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 500;
}

.token {
  color: #d2d2d2;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
}

.weight_height_age {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 13px;
}

.weight,
.height,
.age {
  display: flex;
  flex-direction: column;
}

.green {
  color: #00fe90;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
}

.number {
  color: #000;

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.complement {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
}

.goal {
  color: #00fe91;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.goal_gym_student {
  color: #666;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
}


.ajuste {
  overflow: auto;
}
.buttons_initial_data_student_options{
  display: flex;
  gap: 6px;
}
.buttons_initial_data_student_options .ant-btn{
  background-color: #F5F7F9 !important;
  border: 1px solid #F5F7F9 !important;
  border-radius: 300px;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  padding-left: 7px;
  padding-right: 7px;
}
.about_student_initial_data_gym .ant-btn{
  background-color: #00FE90 !important;
  border: 1px solid #F5F7F9 !important;
  border-radius: 300px;
  color: black;
  transition: all 0.3s;
}
.about_student_initial_data_gym .ant-btn:hover {
  color: white !important;
  background-color: #00FE90 !important;
  border-color: #00FE90 !important;
}
.idit_student_gym .ant-btn:hover {
  color: white !important;
  background-color: #00FE90 !important;
  border-color: #00FE90 !important;
}
.wokouts_student_gym{
  width: 987px;
  justify-content: center;
  gap: 25px;
  display: flex;
  flex-flow: wrap-reverse;
}