.home {
  display: flex;
  height: 80vh;
  gap: 3vw;
  margin-left: 45px;
  margin-top: 42px;
  margin-right: 32px;
  margin-bottom: 61px;
  overflow: auto;
}
.students_workouts_data,
.new_students_products_weights_data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.items_home {
  height: 90vh;
  display: flex;
  gap: 1.7vw;
}
.workouts_counter {
  width: 18vw;
  height: 39vh;
  border: 1px solid #00fe90;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.items_workouts_counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
}

.title_home,
.number_description,
.title_recent_students {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.description_home {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.counter {
  font-family: Inter;
  font-size: 86px;
  font-weight: 600;
  background: linear-gradient(180deg, #00fe90 0%, #20fff7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.view_students button {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.create_new_workout button {
  color: #000 !important;
  background-color: #00fe90;
  border-color: #00fe90;
}
.create_workout button {
  color: #000 !important;
  background-color: #00fe90;
  border-color: #00fe90;
}
.create_workout .ant-btn:hover,
.view_students .ant-btn:hover,
.create_new_workout .ant-btn:hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}

.recent_students {
  width: 18vw;
  /* height: 80.5vh; */
  border: 1px solid #00fe90;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_recent_students {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.atual_day_format {
  width: 124px;
  height: 34px;
  border-radius: 10px;
  background: #1e1e1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.atual_day_format :first-child {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.new_students_dahsboard {
  width: 28vw;
  height: 390px;
  background-color: #00fe91;
  border-radius: 30px;
  padding-left: 22px;
  padding-right: 22px;
  display: grid;
  place-items: center;
}
.products {
  width: 28vw;
  height: 264px;
  border-radius: 20px;
  background: #00fe90;
  padding-left: 22px;
  padding-right: 22px;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.weights {
  width: 28vw;
  height: 144px;
  border-radius: 20px;
  border: 1px solid #00fe90;
  background: #fefefe;
  padding-left: 22px;
  padding-right: 22px;
  display: grid;
  place-items: center;
}
.extras_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0px;
}
.total_price_products {
  background-color: #000;
  width: 306px;
  height: 98px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  gap: 5px;
}
.value {
  width: 225px;
  height: 98px;
  border-radius: 500px;
  background: #00fe90;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
}
.total_description {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 00;
}

@media (max-width: 1600px) {
  .home {
    justify-content: space-between;
  }
  .workouts_counter {
    width: 21vw;
    height: 47vh;
    padding: 10px;
  }
  .new_students_dahsboard {
    width: 40vw;
    height: 990px;
  }
  .recent_students {
    width: 22vw;
    height: 80.5vh;
  }
  .products {
    width: 40vw;
    height: 350px;
  }
  .weights {
    width: 40vw;
    height: 244px;
  }
  .extras_items {
    gap: 5rem;
  }
}
