.user_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-left: 14px;
    padding-right: 14px;
}
.basic_data{
    display: flex ;
    align-items: center;
    gap: 20px;
}
.user_data{
    display: flex;
    flex-direction: column;
}
.user_name{
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1 ;
    
}
.user_id{
    color: #D2D2D2;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.button_user_profile{
    width: 31px;
    height: 31px;
    background-color: #00fe90;
    border-radius: 21px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.container_user .ant-divider-horizontal{
    margin: 5px !important;
}