.profile_corporation_form{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.profile_corporation_data_basic{
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
}
.profile_corporation_data_basic Input{
    width: 399px;
}
.display_picture{
    height: 230px;
    width: 200px;
    
}
.name_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.category_corporation .DropDownMenu{
    width: 100%;
    display: flex;
    text-align: start;
}
.tag_colors{
    display: flex;
    gap: 16px;
}
.description_color_picker{
    display: flex;
    font-size: 12px;
    gap: 5px;
}
.description_color_picker p{
    width: 200px;
    color: #666;
    font-family: Montserrat;
}
.colors_corporation{
    display: flex;
    gap: 30px;
}
.profile_gym .loader_data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}