.students_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.students_gym{
    margin-top: 35px;
}
.raiz_title{
    margin-bottom: 11px;
}
.header_gym_students{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.buttons_add_students_my_students{
    display: flex;
    gap: 6px;
}
.buttons_add_students_my_students .ant-btn{
    border: 1px solid #F5F7F9 !important;
    border-radius: 300px;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    padding-left: 7px;
    padding-right: 7px;
}
.my_students_button .ant-btn{
    background-color: #00FE90 !important;
    border: 1px solid #F5F7F9 !important;
    border-radius: 300px;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}
.buttons_add_students_my_students .ant-btn:hover {
    color: white !important;
    background-color: #00FE90 !important;
    border-color: #00FE90 !important;
}
.my_students_gym{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

