.galery-workouts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    overflow: auto;
}

.header-galery {
    margin: 33px;
    width: 100%;
    height: 90px;
    border-top: 0.5px rgba(102, 102, 102, 0.31) solid;
}

.page-default {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-galery {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-cards-galery-workouts-empty {
    width: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-exercise-empty {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-empty-galeryworkouts {
    font-weight: 700;
    font-size: 36px;
    background-image: linear-gradient(to right, #00FE90, #164B60);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-empty-galeryworkouts {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}

.btn-upload-make {
    width: 250px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00FE90;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.container-exercises-all {
    width: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-exercise-change {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
justify-content:center ; 
   overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 30px;
box-shadow: 1px 1px 10px black;

}

.change-exercise {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2.5rem;
    color: rgb(0, 254, 144, 1);
    cursor: pointer;
    border-radius: 10px;
}

.change-exercise-overlay {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.change-exercise-overlay > p {
    color: white;
}

.text-exercise-card-change{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    font-size: 16px;
    margin: 20px;
    height: 100%;
    height: 70px;
}

.name-exercise-card {
    font-weight: 800;
}

.description-exercise-card {
    font-weight: 400;
}

.image-card-exercise-change {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.more-exercise {
    font-size: 5.0rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectCard {
    transition: 0.2s;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #00FE90;
    border-radius: 10px;
    left: -1px;
}

.container-exercises-galery-workouts {
    margin-top: 70px;
}
.exercise-selected{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00FE90;
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: absolute;
    left: -2px;
    top: -8px;
}
