.card_preview_reservation {
    display: flex;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;

}

.status_reservation {
    width: 10px;
    height: 10px;
    background-color: rgb(66, 169, 57);
    border-radius: 100%;
}

.card_preview_reservation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.primary_information_reservation {
    display: flex;
    align-items: center;
    gap: 15px;
}

.photo_name_code_reservation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status_reservation {}

.options_reservation {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.name_product_reservation {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.code_product_reservation {
    color: #8e8e8e;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  
}
.name_client_reservation{
    color: #A4A4A4;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
/* teste de envio*/