.modal_report_bug_dev{
    width: 22vw;
    height: 25vh;
    border-radius: 10px;
    background-color: #FBFBFB;
    font-family: Inter;
    text-align: center;
    display: grid;
    place-items: center;
}
.description_modal{
    display: flex;
    flex-direction: column;
}
.title_modal{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
}
.description_dev_report{
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
}
.modal_report_bug_dev button{
    background-color: #00FE91 !important;
    border: #00FE91;
    color: #000;
}

.modal_report_bug_dev .ant-btn:hover{
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: #ffffff !important;
}