.create-workouts{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
    
}
.header-create-workouts{
width: 100%;
}
.container-header-components{
    display: flex;
    align-items: center;
    justify-content: space-between;

}