.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    width: 200px;
    height: 200px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #696969;
    border-radius: 500px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item{
    height: 200px;
    width: 200px;
}
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-thumbnail{
    height: auto;
}
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-thumbnail{
    /* background-color: yellow; */
    
}

.ant-progress .ant-progress-inner{
    width: 150px;
    margin-left: 15px;
}
.ant-progress .ant-progress-bg {
    height: 3px;
}

.img_icon, .img_upload{
    height: 200px;
    border-radius: 150px;
}
.upload_img{
    display: flex;
}
.submitButton{
    background-color: #252525;
    height: 25px;
    border-radius: 150px;
    width: 70px;
    font-family: Montserrat;
    color: aliceblue;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.data_img_upload{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
}
input[type="file"] {
    display: none;
}
label{
    background-color: #252525;
    width: 180px;
    height: 30px;
    font-size: 15px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    color: aliceblue;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
label:hover, .submitButton:hover{
    
    background-color: #00fe90;
}