.step_two_add_student_gym{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.title_record_student_wourkt {
  color: #00fe90;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.options_gym_one, .options_gym_two{
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.options_gym_one{
    margin-top: 15px;
}
.frequencia_cardiaca_record, .qualidade_sono, .experiencia_exercicios{
    display: flex;
    flex-direction: column;
}
.ant-input-group >.ant-input:first-child, :where(.css-dev-only-do-not-override-190m0jy).ant-input-group .ant-input-group-addon:first-child {
    width: 150px;
}